<?xml version='1.0' encoding='utf-8'?>
<widget id="com.softmobile.sm1"
        version="1.4.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>SM1</name>
    <description>Softmobile Cordova shell app</description>
    <author email="contato@softmobile.com.br">Softmobile</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidLaunchMode" value="singleTask" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>
    </platform>
</widget>
